<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\AdminNotification\Model\System\Message\CacheOutdated">
        <plugin name="pronko_cache_toolbar_suppress_notification"
                type="Pronko\CacheToolbar\Plugin\SuppressCacheOutdatedNotification"/>
    </type>
    <type name="Pronko\CacheToolbar\Controller\Adminhtml\Cache\SmartClear">
        <arguments>
            <argument name="logger" xsi:type="object">Pronko\Core\Logger</argument>
        </arguments>
    </type>
    <type name="Pronko\CacheToolbar\Controller\Adminhtml\Cache\FullClear">
        <arguments>
            <argument name="logger" xsi:type="object">Pronko\Core\Logger</argument>
        </arguments>
    </type>
</config>
